body{
    background-color: black;
    font-family: monospace;
}

h1, h2,p{
    color: white;
    text-align: center;
}

p{
    padding: 10px;
    color: white;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: aquamarine;
    font-weight: bold;
}
a:hover{
    color: white;
}

img{
    width: 35%;
    padding: 10px; 
    display: inline-block;
   
  }